body {
  margin: 0;
}
.bottom_container {
  background-color: red;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 200px;
  left: 200px;

  -moz-border-radius: 40px 20px;
  -webkit-border-radius: 40px 20px;
  border-bottom-left-radius: 60px 20px;

  -moz-box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.606);
  -webkit-box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.606);
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.606);
}

.middle_container {
  background-color: blue;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 100px;
  left: 100px;

  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;

  -moz-box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.606);
  -webkit-box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.606);
  box-shadow: inset 10px 10px 30px rgba(0, 0, 0, 0.606);
}

.top_container {
  background-color: yellow;
  width: 100px;
  height: 100px;
  position: absolute;

  -moz-border-radius: 10px 60px / 6px 49px;
  -webkit-border-radius: 10px 60px / 6px 49px;
  border-bottom-left-radius: 60px;

  -moz-box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.606);
  -webkit-box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.606);
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.606);
}
