/*Navigation Part*/
.nav {
  background-color: lightpink;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  margin: 0px;
  list-style: none;
}

.nav a {
  color: rgb(255, 255, 255);
  display: block;
  font-weight: bold;
  text-decoration: none;
  padding: 1em;
}

.nav a:hover {
  background-color: palevioletred;
}

@media all and (max-width: 800px) {
  .nav {
    justify-content: space-around;
  }
}

@media all and (max-width: 600px) {
  .nav {
    flex-flow: column wrap;
    padding: 0px;
  }

  .nav a {
    border: 1px solid rgba(255, 255, 255, 0.308);
    text-align: center;
    padding: 1em;
  }
}

/*Body section*/
body {
  margin: 0px;
}

/*Top-Middle section*/
.top-middle {
  display: flex;
  justify-content: center;
  margin: 250px auto;
  flex-flow: row wrap;
}

.top-middle p {
  display: block;
  padding: 1rem;
  background-color: blanchedalmond;
  border: 5px solid rgba(0, 0, 0, 0.445);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.376);
  max-width: 500px;
  padding: 2rem;
}

/*Mddle section*/
.middle {
  display: flex;
  justify-content: space-around;
  margin: 150px auto;
  flex-flow: row wrap;
  margin: 250px auto;
}

.mid-p1 .mid-p2 {
  display: block;
  padding: 1rem;
  background-color: rosybrown;
  border: 5px solid rgba(0, 0, 0, 0.445);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.376);
  max-width: 300px;
  padding: 2rem;
}

/*lower-middle section*/
.lower-middle {
  display: flex;
  justify-content: center;
  margin: 150px auto;
  flex-flow: row wrap;
  margin: 250px auto;
  gap: 20px;
}

.lower-p1 .lower-p2 {
  display: block;
  padding: 1rem;
  background-color: lightgreen;
  border: 5px solid rgba(0, 0, 0, 0.445);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.376);
  max-width: 300px;
  padding: 2rem;
}

/*Media part*/
@media all and (max-width: 800px) {
  .top-middle {
    justify-content: center;
  }

  .middle {
    justify-content: space-around;
  }

  .lower-middle {
    justify-content: space-around;
    gap: 0px;
  }

  .mid-p1 .mid-p2 {
    flex-flow: column wrap;
    /*align-items: center;*/
    margin: 10px 20px;
    max-width: 500px;
  }

  .lower-p1 .lower-p2 {
    flex-flow: column wrap;
    /*align-items: center;*/
    margin: 10px 20px;
    max-width: 500px;
  }
}

@media all and (max-width: 600px) {
  .top-middle {
    justify-content: center;
    margin: 150px 20px;
  }

  .mid-p1 .mid-p2 {
    flex-flow: column wrap;
    /*align-items: center;*/
    margin: 10px 20px;
    max-width: 500px;
  }

  .lower-p1 .lower-p2 {
    flex-flow: column wrap;
    /*align-items: center;*/
    margin: 10px 20px;
    max-width: 500px;
  }
}
